Stream/Service References/MasterService/metadata.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9999/master/metadata?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Stream.RPC" />
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Stream.RPC" minOccurs="0" name="pkg" nillable="true" type="q1:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Stream.RPC" minOccurs="0" name="SendResult" nillable="true" type="q2:Package" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>