Stream/Service References/MasterService/metadata2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Stream.RPC" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Stream.RPC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Package">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Package" nillable="true" type="tns:Package" />
</xs:schema>